@charset "utf-8";

ul{

    width: 1000px;
    margin: 300px auto;
    height: 100px;
    font-size: 25px;
    display: flex;
    justify-content: space-around;
}
ul li{
    position: relative;
}
ul li::after{
    content: "";
    height: 1px;
    width: 0%;
    border: 1px solid #000;
    position: absolute;
    transition: 0.2s;
    /* right: auto;
    left: 0; */
    left: -50%;
    transform: 50%;
}
ul li:hover::after{
    width: 100%;
    /* right: 0;
    left: auto; */
    animation: slide 1s linear ease-in;
}
@keyframes slide{
}